<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<p></p><p></p>
<form id="UploadForm">

    <p>姓名： <input type="text"id="nickname" /></p>
    <p>性别：</p>
    <p>男：
     <input type="radio" id="man" name="sex" value="男" checked="checked"/>
    </p>
    <p>
        女：
        <input type="radio" id="women" name="sex" value="女" />
    </p>
    <p>指定文件名 ：<input type="text" name="filename" value="" id="filename"/></p>
    <p>请选择需要上传的文件：<input type="file" name="file" /></p>

    <input type="button" value="上传" onclick="upload()" />
</form>

<script>

    function upload() {

        //序列化表单
        //$("form").serialize()和 new FormData($('#uploadForm')[0])都是序列化表单
        //序列化表单，$("form").serialize()只能序列化数据，不能序列化文件
        //$("#UploadForm").serialize();
        var formData = new FormData($("#UploadForm")[0]);
        //var formData = new FormData();
        //formData.append("file", $("#UploadForm")[0].file);
        //formData.append("nickname", $("#nickname").val());
        //if ($("#man").checked) {
        //    formData.append("sex", "男");
        //} else {
        //    formData.append("sex", "女");
        //}

        $.ajax({

            url: "http://localhost:62277/Api/Upload/Upload?guid="+$("#filename").val(),
            data: formData,
            type: "POST",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

                alert(data);
            },
            error: function (error) {

                alert(error);
            }
        })
    }


</script>
